<br>
<div class="flat-card">
  <div class="flat-card-content">
    <div class="flat-card-title">

      <div class=" text-center">
        <%= link_to "<i class='glyphicon glyphicon-chevron-left'></i>".html_safe,
          @contact.prev, style: "color: grey; font-size: 200%;" %> &nbsp
        <%= link_to "<i class='glyphicon glyphicon-chevron-right'></i>".html_safe,
          @contact.next, style: "color: grey; font-size: 200%;" %>
      </div>

      <h2 text-center>
        <span class="glyphicon glyphicon-file"></span> Contact
      </h2>

    </div>
      <p><i class="glyphicon glyphicon-user"></i> <%= link_to @contact.name, contact_path(@contact) %></p>
      <p><i class="glyphicon glyphicon-envelope"></i> <%= @contact.email %></p>
      <p><i class="glyphicon glyphicon-phone"></i> <%= @contact.tel %></p>
      <p><i class=" glyphicon glyphicon-map-marker"></i> <%= @contact.address %></p>
      <div class="flex">
        <div class="flex">
          <i class="glyphicon glyphicon-tags"></i> &nbsp Tags &nbsp

            <% @contact.tags.each do |tag| %>
              <span class="badge badge-primary">
                <%= tag.name %>
              </span> &nbsp
            <% end %>
        </div>
      </div>
  </div>
  <div class="flat-card-actions">
    <%= link_to '<i class="glyphicon glyphicon-pencil"></i> Editer'.html_safe, edit_contact_path(@contact), class:"ml-3 text-warning" %>
    <%= link_to '<i class="glyphicon glyphicon-trash"></i> Supprimer'.html_safe, contact_path(@contact),
        method: :delete, data: {confirm: "Confirmer la suppression ?"}, class:"ml-3 text-danger" %>
    <%= link_to '<i class=" glyphicon glyphicon-step-backward"></i> Revenir à la liste de contacts'.html_safe, contacts_path %>

  </div>
</div>
