<br>
<div class="flat-card">
  <div class="flat-card-content">
    <div class="flat-card-title">

      <div class=" text-center">
        <%= link_to (safe_glyph "chevron-left"),
          @contact.prev, style: "color: grey; font-size: 200%;" %> &nbsp
        <%= link_to (safe_glyph "chevron-right"),
          @contact.next, style: "color: grey; font-size: 200%;" %>

      </div>

      <h2 text-center>
         <%= safe_glyph "file" %> Contact
      </h2>

    </div>
      <p> <%= safe_glyph "user" %> <%= link_to @contact.name, contact_path(@contact) %></p>
      <p> <%= safe_glyph "envelope" %> <%= @contact.email %></p>
      <p> <%= safe_glyph "phone" %> <%= @contact.tel %></p>
      <p> <%= safe_glyph "map-marker" %> <%= @contact.address %></p>
      <div class="flex">
        <div class="flex">
          <%= safe_glyph "tags" %> &nbsp Tags &nbsp

            <% @contact.tags.each do |tag| %>
              <span class="badge badge-primary">
                <%= tag.name %>
              </span> &nbsp
            <% end %>
        </div>
      </div>
  </div>
  <div class="flat-card-actions">
    <%= link_to ((safe_glyph "pencil") + " Editer"), edit_contact_path(@contact), class:"ml-3 text-warning" %>
    <%= link_to ((safe_glyph "trash") + " Supprimer"), contact_path(@contact),
        method: :delete, data: {confirm: "Confirmer la suppression ?"}, class:"ml-3 text-danger" %>
    <%= link_to ((safe_glyph "step-backward") + " Revenir à la liste de contacts"), contacts_path %>

  </div>
</div>
